[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
gym = "*"
numpy = ">=1.0"
bokeh = ">=1.0"
dash = "*"
dash-html-components = "*"
dash-core-components = "*"
dash-table = "*"
colorlover = "*"
gym_decomp = {git = "https://github.com/Zaerei/gym_decomp"}
google = "*"
protobuf = "*"
colour = "*"

[requires]
python_version = "3.6"
